/* Navbar */
.navbar .navbar-brand {
  color: #262829;
}

.navbar .navbar-brand:hover {
  color: #226c9d;
}

/* index page */
.total__num > h5 {
  color: orange;
  font-size: 5rem;
  font-weight: 400;
}
.spend__item:nth-child(odd) > .spend__item__content {
  background-color: #e6e4e4;
}

.spend__item__content {
  width: 60vw;
}

.spend__item__link {
  width: 30%;
}

.spend__item__link > a {
  text-decoration: none;
  font-size: 1.2rem;
}

/* new page */
.form__content__desc > label:before {
  content: '*';
  color: red;
}
.form__content__desc > label {
  font-size: 0.6rem;
}
.form__content__desc > div {
  text-align: center;
}

.form__content__content > label:first-child:after {
  content: '*';
  color: red;
}

/* all-page */
.btn__border {
  border: black 2px solid;
}

/* 測試用 */
.test {
  outline: 3px solid tomato;
}
